<html lang="en">
    <head>
        <title>Snoops</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/signin.css" />
        <link rel="stylesheet" href="/styles/signup.css" />
        <link rel="stylesheet" href="/styles/scroller.css" />
    </head>
    <body class="main-page">
        <header>
            <h1>Snoops</h1>
            <nav>
                <ul>
                    {{#if user}}
                        <li>Hello, {{user.firstName}}!</li>
                        <li><a href="/logout">Log out</a></li>
                    {{else}}
                        <li><a href="/users/login">Log in</a></li>
                        <li><a href="/users/signup">Sign up</a></li>
                    {{/if}}
                    <li><a href="#">About</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
        <footer>
            <p>&copy; 2023 Snoops</p>
        </footer>
    </body>
</html>