<html>
    <head>
        <title>Snoops</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/signin.css" />
        <link rel="stylesheet" href="/styles/signup.css" />
        <link rel="stylesheet" href="/styles/scroller.css" />
        <link rel="stylesheet" href="/styles/settings.css" />
    </head>
    <header>
        <h1>Snoops</h1>
        <nav>
            <ul>
                <li><a href="/users/login">Log in</a></li>
                <li><a href="/users/signup">Sign up</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <body class="main-page">
        {{{body}}}
    </body>
    <footer>
        <p>&copy; 2023 Snoops</p>
    </footer>
</html>