<html lang="en">
    <head>
        <title>Snoops</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/signin.css" />
        <link rel="stylesheet" href="/styles/signup.css" />
        <link rel="stylesheet" href="/styles/scroller.css" />
        <link rel="stylesheet" href="/styles/settings.css" />
    </head>
    <body class="main-page">
        <header>
            <a href="/"><h1>Snoops</h1></a>
            <nav>
                <ul>
                    {{#if user}}
                        <li>Hello, {{user.firstName}}!</li>
                        <li><a href="/logout">Log out</a></li>
                    {{else}}
                        <li class="auth-links"><a
                                href="/users/user-login-page"
                            >Log in</a></li>
                        <li class="auth-links"><a
                                href="/users/user-signup-page"
                            >Sign up</a></li>
                    {{/if}}
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
        <footer>
            <p>&copy; 2023 Snoops</p>
        </footer>
    </body>
</html>