<main>
    <section class="hero">
        <img src="../assets/landing-dog.png" alt="Happy Dog" />
        <div class="hero-content">
            <h2>404</h2>
            <h3>Ruh Roh!</h3>
            <p>We could not find the page you were looking!</p>
            <p>Don't worry we got you covered!</p>
            <a href="/">Click here to go back to main page</a>
        </div>
    </section>
</main>