<main>
    <div class="aboutSplitter"></div>
    <div class="aboutContainer">
        <h1 class = "aboutTitle">About Snoops</h1>
        <p class="aboutText">SnoopsTM, a Tinder-like application for
        people who are ready to adopt a new friend. We are aiming to
        create a way for adoption centers to post and promote their
        currently available dogs in a much more streamlined way to
        expedite the adoption process. We want more people to adopt
        rather than buy from breeders, and by centralizing adoption
        centers’ dogs into one spot, it reduces the friction of trying
        to adopt a dog. Users are able to create one of two different
        types of accounts: adopter and adoption center. An adoption
        center can post and manage their own dog listings and an adopter
        can browse the dog listings.</p>
    </div>
    <div class="aboutSplitter"></div>
</main>