<main>
    <div class="signin-wrapper">
        <div class="graphic-image">
            <img src="../assets/40444.jpg" alt="" />
        </div>
        <div class="form-container">
            <h2>Adoption Center Log in</h2>
            <div id="error" class="error">
                {{#if error}}
                    {{error}}
                {{/if}}
            </div>
            <form id="ac-login-form" method="POST" action="/acenters/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        required
                    />
                </div>
                <button type="submit">Log in</button>
                <a href="#" onclick="switchToUserLogin()">Switch to User Login</a>
            </form>
        </div>
    </div>

    <script>
        function switchToUserLogin() { window.location.href =
        "/users/login-page"; }
    </script>

</main>