<main>
    <div class="graphic-image">
        <img src="/assets/40444.jpg" alt="" />
    </div>
    <div class="form-container">
        <!-- Adoption Center Signup form -->
        <a href="#" onclick="switchToUserSignup()">Switch to User Signup</a>
    </div>

    <script>
        function switchToUserSignup() { window.location.href = "/users/signup"; }
    </script>
</main>