<main>
    <section class="hero">
        <img src="../assets/landing-dog.png" alt="Happy Dog" />
        <div class="hero-content">
            <h2>Ready to find a new friend?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, repudiandae assumenda.</p>
            <div class="hero-buttons">
                <a href="/users/user-login-page">Log In</a>
                <a href="/users/user-login-page">Sign Up</a>
            </div>
        </div>
    </section>
</main>