<main>
    <h1 class="resourcesh1 resources">Resources for Adopters</h1>
    <section class="resources">
        <p>Welcome to our Resources for Adopters page! Here, you will find helpful information and tips to assist you during and after the adoption process. We've compiled a list of resources to make your adoption experience as smooth as possible.</p>
        <h2>Preparing for Adoption</h2>
        <ul>
            <li><a target="_blank" href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/about/pets-as-presents/">Petfinder: Pets as Presents: A Good Idea?</a></li>
            <li><a target="_blank" href="https://www.aspca.org/pet-care/dog-care/general-dog-care">ASPCA: General Dog Care
</a></li>
            <li><a target="_blank" href="https://www.humanesociety.org/resources/adopting-animal-shelter-or-rescue-group">Humane Society: Adopting pets from animal shelters or rescues</a></li>
        </ul>
        <h2>Training and Socialization</h2>
        <ul>
            <li><a target="_blank" href="https://www.akc.org/expert-advice/training/puppy-training/">AKC: Puppy Training Basics</a></li>
            <li><a target="_blank" href="https://www.cesarsway.com/">Cesar's Way: Dog Training Tips & Techniques</a></li>
            <li><a target="_blank" href="https://www.dogstardaily.com/training">Dog Star Daily: Dog Training Digital Textbook</a></li>
        </ul>
        <h2>Health and Nutrition</h2>
        <ul>
            <li><a target="_blank" href="https://www.dogfoodadvisor.com/">Dog Food Advisor: Unbiased Dog Food Reviews and Ratings</a></li>
            <li><a target="_blank" href="https://www.akc.org/expert-advice/nutrition/">AKC: Dog Nutrition Tips</a></li>
            <li><a target="_blank" href="https://www.aspca.org/pet-care/dog-care">ASPCA: Dog Care Tips</a></li>
        </ul>
        <h2>Local Resources</h2>
        <p>Don't forget to explore local resources, such as dog parks, groomers, trainers, and veterinary clinics. Reach out to your adoption center or local pet community for recommendations and suggestions.</p>
    </section>
</main>