<main class="scroller">
    <button class="scroller-button"></button>
    <div class="scroller-dog-container">
        <div class="scroller-dog-image-container">
            <img id="dog-image" src="../assets/landing-dog.png" alt="dog" />
        </div>
        <div class="scroller-dog-info-container">
            <div class="scroller-dog-info-header">
                <h1 id="dog-name">{{dog.name}}</h1>
                <h2 id="dog-breeds">{{dog.breeds}}</h2>
                <h2 id="dog-age">{{dog.dob}} years</h2>
            </div>
            <div class="scroller-dog-info">
                <p id="dog-description">{{dog.desc}}</p>
            </div>
        </div>
    </div>
    <button class="scroller-button"></button>
    <script src="/scripts/scroller.js"></script>
</main>