<main class="scroller">
    <button class="scroller-button"></button>
    <div class="scroller-dog-container">
        <div class="scroller-dog-image-container">
            <img id="dog-image" src="../assets/landing-dog.png" alt="dog" />
        </div>
        <div class="scroller-dog-info-container">
            <div class="scroller-dog-info-header">
                <h1 id="dog-name">Max</h1>
                <h2 id="dog-breeds">Golden Retriever</h2>
                <h2 id="dog-age">4 years</h2>
            </div>
            <div class="scroller-dog-info">
                <p id="location">2 miles away</p>
                <p id="dog-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    euismod, nunc ut aliquam aliquam, nunc nisl aliquet nisl,
                    eget aliquam nisl nisl sit amet lorem. Sed euismod, nunc ut
                    aliquam aliquam, nunc nisl aliquet nisl, eget aliquam nisl
                    nisl sit amet lorem.
                </p>
            </div>
        </div>
    </div>
    <button class="scroller-button"></button>
    <script src="/scripts/scroller.js"></script>
</main>