<main>
    <div class="signin-container">
        <h2>Sign In / Sign Up</h2>
        <div class="signin-input-container">
            <div class="input-grouping">
                <label for="email">Email</label>
                <input
                    class="signin-input"
                    placeholder="Enter email..."
                    type="email"
                    name="email"
                    id="email"
                />
            </div>
            <div class="input-grouping">
                <label for="password">Password</label>
                <input
                    class="signin-input"
                    placeholder="Enter password..."
                    type="password"
                    name="password"
                    id="password"
                />
            </div>
        </div>
        <div class="hero-buttons signin-buttons">
            <a href="#">Sign In</a>
            <a href="#">Sign Up</a>
        </div>
    </div>
</main>