<main>
    <div class="chat-container">
        {{#if chats}}
        <div class="all-chats">
            {{#each chats}}
            <div class="chat">
                <p class="recName">{{this.acenterName}}</p>
                <p class="uid">User {{this.userId}}</p>
                <p class="acid">User {{this.centerId}}</p>
            </div>
            {{/each}}
        </div>
        <div>
            <div id="current-chat" class="current-chat"></div>
            <hr class="solid">
            <div id="chatTextDiv">
                <label style="display: none;" for="sentMessage">Send Message</label>
                <input class="chattextBox" type="text" name="sentMessage" id="sentMessage" placeholder="Type a message...">
                <button class="button" type="submit" id="sendButton">Send</button>
            </div>
        </div>
        {{/if}}
    </div>
    <script src="/public/js/user-chats.js"></script>
</main>