<main>
    <div class="signin-wrapper">
        <div class="graphic-image">
            <img src="../assets/40444.jpg" alt="" />
        </div>
        <div class="form-container signin-div">
            <h2 class="uLoginh2">Log in</h2>
            <div
                id="error-message"
                class="alert alert-danger"
                style="display: none;"
            ></div>
            <form class = "login-form" id="login-form" method="POST" action="/users/login">
                <div id="error" class="error">
                    {{#if error}}
                        {{error}}
                    {{/if}}
                </div>

                <label class="userLabel" for="email">Email</label>
                <input class="userInput" type="email" 
                    id="email" name="email" value="{{email}}" required/>

                <label class="userLabel" for="password">Password</label>
                <input class="userInput" type="password" id="password"
                        name="password" required/>

                <button class="userLoginSubmit" type="submit">Log in</button>
                <a class="switchLogin" href="#" onclick="switchToAcLogin()">Switch to Adoption
                    Center Login</a>
            </form>
        </div>
    </div>

    <script>
        function switchToAcLogin() { window.location.href =
        "/acenters/login-page"; }
    </script>

</main>