<main>
    <div class="signin-wrapper">
        <div class="graphic-image">
            <img src="../assets/40444.jpg" alt="Graphic Image with dogs" >
        </div>
        <div class="form-container signin-div">
            <h2 class="Loginh2">Log in</h2>
            <div id="error" class="error">
                    {{#if error}}
                        {{error}}
                    {{/if}}
            </div>
            <form class = "login-form" id="login-form" method="POST" action="/users/login">

                <label class="userLabel" for="email">Email</label>
                <input class="userInput" type="email" 
                    id="email" name="email" value="{{email}}" placeholder="Email" required>

                <label class="userLabel" for="password">Password</label>
                <input class="userInput" type="password" id="password"
                        name="password" placeholder="Password" required>

                <button class="LoginSubmit" type="submit">Log in</button>
                <a class="switchLogin" href="#" onclick="switchToAcLogin()">Adoption
                    Center Login</a>
                <a class="switchLogin" href="#" onclick="switchToUserSignup()">Create an Account</a>
            </form>
        </div>
    </div>

    <script>
        function switchToAcLogin() { window.location.href =
        "/acenters/login-page"; }
        function switchToUserSignup() { window.location.href =
        "/users/signup-page"; }
    </script>
    <script type="module" src="/js/login-validation.js">
    </script>

</main>