/* Ac-dashboard styles */

:root {
    font-size: 16px;
    --main-background-color: #fff1dc;
    --text-color: #3a2412;
    --accent-color: #3a98b9;
    --accent-hover-color: #2b748e;
    --footer-background-color: #e8d5c4;
}

.ac-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    width: 90%;
    justify-content: space-between;
    min-height: fit-content;
    margin: 0 auto;
    gap: 2rem; 
}

.ac-dashboard-main {
    border: solid 1px var(--text-color);
    border-radius: 10px;
    width: 30%;
    background-color: var(--form-background-color);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
}

.ac-posted {
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.ac-dashboard-main h2{
    text-align: center;
}

.acenter-image {
    max-width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.acenter-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.acenter-info-form label {
    margin-top: 0.5rem;
}

.acenter-info-form input {
    margin-bottom: 0.5rem;
}

.update-info-btn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.update-info-btn:hover {
    background-color: var(--accent-hover-color);
}

.error-message {
    color: var(--error-color);
    margin-top: 1rem;
}

.ac-dashboard-dogs {
    background-color: var(--form-background-color);
    border: solid 1px var(--text-color);
    border-radius: 10px;
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 1000px;
}

.dog-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    max-height: 100%;
    overflow-y: scroll;
}

.dog-card {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.dog-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.add-dog-card {
    border: 2px dashed var(--text-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-dog-btn {
    font-size: 3rem;
    color: var(--text-color);
    text-decoration: none;
}
