.chat-container{
    float: left;
    height: 100%;
    width: 100%;
}
.all-chats{
    float: left;
    width: 25%;
    height: 100%;
    overflow: scroll;
    border-right: 5px solid black;
}

.acid{
    display: none;
}

.uid{
    display: none;
}

.current-chat{

    float: left;
    width: 75%;
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#chatTextDiv{
    background-color: cadetblue;
    height: 30%;
    width: 75%;
    float: right;
}

.chat{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
}

.textbox{
    width: 50%;
    height: 50px;
    padding: 10px;
    display: block;
    margin: auto;
    position: relative;
    top: 20%;
}

.button{
    display: block;
    margin: auto;
    position: relative;
    top: 20%;
    margin-top: 5px;
}

.userMessageDiv{
    text-align: right;
}

.acenterMessageDiv{

}

.userMessage{
    display: inline-block;
    width: fit-content;
    text-align: right;
    background-color: lightpink;
    margin: 5px 20px 5px auto;
    padding: 5px;
    border-radius: 10px;
    max-width: 45%;
}

.acenterMessage{
    display: inline-block;
    text-align: left;
    width: fit-content; 
    background-color: skyblue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    max-width: 45%;
} 

.userMessageTime{
    display: inline-block;
    font-size: x-small;
    color: gray;
    margin-right: 3px;
    max-width: 70px;
    position: relative;
    top: 5px;
}

.acenterMessageTime{
    display: inline-block;
    font-size: x-small;
    color: gray;
    margin-left: 3px;
    max-width: 70px;
    position: relative;
    top: 5px;
}
