.chat-container{
    float: left;
    height: 100%;
    width: 100%;
}
.all-chats{
    float: left;
    width: 25%;
    height: 100%;

    border-right: 5px solid black;
}

.current-chat{
    float: left;
    width: 75%;
    height: 70%;
    overflow: scroll;
}

#chatTextDiv{
    background-color: cadetblue;
    height: 30%;
    width: 75%;
    float: right;
}

.chat{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
}

.textbox{
    width: 50%;
    height: 50px;
    padding: 10px;
    display: block;
    margin: auto;
    position: relative;
    top: 20%;
}

.button{
    display: block;
    margin: auto;
    position: relative;
    top: 20%;
    margin-top: 5px;
}

.userMessageDiv{
    text-align: right;
}

.acenterMessageDiv{

}

.userMessage{
    display: inline-block;
    width: fit-content;
    text-align: right;
    background-color: lightpink;
    margin: 5px 20px auto auto;
    padding: 5px;
    border-radius: 10px;
    max-width: 45%;
}

.acenterMessage{
    display: inline-block;
    text-align: left;
    width: fit-content; 
    background-color: skyblue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    max-width: 45%;
} 

.userMessageTime{
    font-size: small;
    color: gray;
    margin-right: 3px;
}

.acenterMessageTime{
    font-size: small;
    color: gray;
    margin-left: 3px;
}
