.scroller{
    display: flex;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.scroller-dog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #633d1e;
    border-radius: 16px;
    max-width: 50vw;
    min-width: 500px;
    min-height: fit-content;
    margin-top: 20px;
    padding: 10px;
    flex: 1;

}

.scroller-dog-image-container{
    height: 70%;
}

.scroller-dog-image-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.scroller-dog-info-container{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.scroller-dog-info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    border-bottom: 1px solid #633d1e;
}

.scroller-dog-info-header h1{
    font-size: 2rem;
    font-weight: bold;
    color: #633d1e;
    opacity: 0.7;
}

.scroller-dog-info-header h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #633d1e;
    opacity: 0.7;
}

.scroller-dog-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 100%;
}

.scroller-dog-info p{
    font-size: 1.2rem;
    font-weight: normal;
    color: #633d1e;
    word-wrap: normal;
    overflow: none;
}

.scroller-button{
    height: 50px;
    width: 50px;
    border: 2px solid #633d1e;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms
}

.scroller-button:hover{
    background-color: #633d1e;
    color: white;
    transform:scale(1.05)
}

.scroller-interaction-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.scroller-interaction-button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    cursor: pointer;
    transition: 300ms;
    font-size: 2em;
    border-radius: 6px;
    border: 2px solid #633d1e;
    box-shadow: 0 0 5px #633d1e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #633d1e;
    transition: 300ms;
}

.like:hover{
    color:red;
    border: 2px solid red;
    background-color: white;
    transform: scale(1.05);
}

.dislike:hover{
    background-color: grey;
    border: 2px solid black;
    color: white;
    transform: scale(1.05);
}