.settings{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.settingsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 50vh;
    min-width: 500px;
    min-height: 500px;
    border: 2px solid #633d1e;
    border-radius: 16px;
}

.settingsContainer form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.doggies{
    overflow-y: scroll;
}

.likedDogs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent
}

.likedDog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    max-height: 200px;
    max-width: 200px;
    padding: 20px;
}

.likedDog img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
}