.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}

.settingHeader, .likedDogsHeader {
    margin: 0 auto;
    font-size: 24px;
    padding: 10px 0;
    background-color: transparent; 
    text-align: center; 
}

.settingsWrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    width: 90%; 
    min-height: fit-content;
    gap: 2rem;
}

.settingsContainer {
    justify-content: center;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--form-background-color);
    display: flex;
    min-height: fit-content;
    flex-direction: column;
}

.settingsContainer#user-settings {
    width: 30%;
    overflow-y: scroll;
}

.settingsContainer.doggies {
    overflow-y: scroll;
    width: 60%;
}

.settingsContainer form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.settingsInput{
    display: block;
    background-color: var(--input-color);
    border-radius: 8px;
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    margin-bottom: 2px; 
    border: none transparent;
    outline: none;
    border-bottom: 2px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(220,220,220);
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

.imgInput {
    color: var(--dark-main-background-color);
}

.settingsImageDisplay{
    max-width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


.settingsLabel{
    margin-top: 10px;
    background-color: transparent; 
    display: block;
    font-size: large;
    margin-bottom: 5px; 
    color: var(--label-color);
    text-align: center;
}

#update-user{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: fit-content;
}

#update-user > *{
    padding: 10px;
}

.likedDogs{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100%;
    background-color: transparent
}

.likedDog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    max-height: 200px;
    max-width: 200px;
    padding: 20px;
}

.likedDog img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 16px;
    border: var(--text-color) 2px solid;
}

.settingsSubmit{
    display: flex;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 3px 30px;
    background-color: #b9d9dd;
    border-bottom-color: #a5c0c4;
    border-left-color: #a5c0c4;
    border-width: 2px;
    border-top: none;
    border-right: none;
    border-left-width: 1px;

}

.likedDogLinkButton{
    transition: 350ms;
}

.likedDogLinkButton:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.settings-modal-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-dog-modal-image{
    max-width: 50%;
    height: auto;
    
}

.settings-dog-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}