.signin-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signin-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 90%;
    margin: 0 auto;
}

.signin-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    min-height: 25vw;
}

.signin-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex: 1;
    max-height: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.input-grouping{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.signin-input{
    border: 2px solid #ccc;
    border-radius: 5px;
    min-height: 2.5rem;
    width: 70%;
    background-color: var(--input-color);
    font-family: "Lora", serif;
    font-size: 16px;
}

.Loginh2{
    background-color: var(--form-background-color);
}

.login-form{
    background-color: var(--form-background-color);
    width: 60%;
}

.userInput, .acInput{
    display: block;
    background-color: var(--input-color);
    border-radius: 10px;
    width: 100%;
    padding: 10px 12px;
    font-size: 1rem;
    margin-bottom: 5px;
    border: none transparent;
    outline: none;
    border-bottom: 2px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(224, 224, 224);
    margin-bottom: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.userLabel, .acLabel{
    background-color: var(--form-background-color);
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--label-color);
    margin-top: 5px;
}

.LoginSubmit{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 3px 30px;
    background-color: #b9d9dd;
    border-bottom-color: #a5c0c4;
    border-left-color: #a5c0c4;
    border-width: 2px;
    border-top: none;
    border-right: none;
    border-left-width: 1px;

}

.switchLogin{
    display: block;
    background-color: var(--form-background-color);
    text-align: center;
    text-decoration: solid;
    color: var(--label-color);
    margin-bottom: 10px;
    transition: 350ms;
}

.switchLogin:hover{
    color: #8ea8a8;
    transform: scale(1.01);
}
