@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&display=swap");

/* colors:
#3A98B9
#FFF1DC
#E8D5C4
#EEEEEE
#3a2412;
*/

/* Reset styles for elements */
:root {
    font-size: 16px;
    --main-background-color: #fff1dc;
    --text-color: #3a2412;
    --a-accent-color: #0081a1;
    --accent-hover-color: #2b748e;
    --footer-background-color: #e8d5c4;

    --dark-text-color: #fff1dc;
    --dark-main-background-color: #3a2412;
    --dark-footer-background-color: #735438;

    --form-background-color: #f8f8f8;
    --input-color: #f1f1f1;
    --label-color: #727272;

    --dark-form-background-color: #3c3a38;
    --dark-label-color: #c2c2c2;

    --error-color: red;
    --dark-error-color: rgb(249, 117, 117);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "IBM Plex Serif", serif;
    font-size: 1rem;
}

body {
    background-color: var(--main-background-color);
    color: var(--text-color);
    height: 100%;
}

body.dark {
    --text-color: var(--dark-text-color);
    --main-background-color: var(--dark-main-background-color);
    --footer-background-color: var(--dark-footer-background-color);
    --form-background-color: var(--dark-form-background-color);
    --label-color: var(--dark-label-color);
    --error-color: var(--dark-error-color);
}

body.light {
    --text-color: var(--text-color);
    --main-background-color: var(--main-background-color);
    --footer-background-color: var(--footer-background-color);
    --form-background-color: var(--form-background-color);
    --label-color: var(--label-color);
    --error-color: var(--error-color);
}

header {
    background-color: var(--main-background-color);
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.03125rem var(--text-color);
    width: 100vw;
    position: relative;
}

header h1 {
    font-weight: bold;
    margin-left: 1.875rem;
    transition: color 0.3s ease-in-out;
    font-family: "Abril Fatface", cursive;
    font-size: 2rem;
    text-decoration: none;
}

header a h1 {
    color: var(--text-color);
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav a {
    color: var(--text-color);
    margin: 0 0.625rem;
    transition: color 0.3s ease-in-out;
}

header nav a:hover {
    color: var(--a-accent-color);
}

header nav i {
    padding: 0 10px;
    cursor: pointer;
}

#main-body{
    min-height: fit-content;
    flex:1;
    box-shadow: inset 0px 0px 2px rgb(0, 0, 0);
}

main{
    min-height: fit-content;
    flex: 1;
}
/* Hero Section styles */
.hero {
    position: relative;
    min-height: 90vh;
    background: none;
    background-color: #8e6e00;
}

.hero img {
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.hero-content {
    background: transparent;
    position: absolute;
    top: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    color: #f8f8f8;
    z-index: 1;
    transform: translateY(-50%);
}

.hero h2 {
    background: inherit;
    font-size: 2.875rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    color: #f8f8f8;
}

.hero h1 {
    background: inherit;
    font-size: 3.875rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.hero h3 {
    background: inherit;
    font-size: 2.875rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.hero p {
    background: inherit;
    margin-bottom: 1.25rem;
    display: flex;
    color: #f8f8f8;
}

.hero a {
    background: inherit;
    display: flex;
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
}

.hero-buttons {
    background: inherit;
    display: flex;
}

.hero-buttons a {
    display: inline-block;
    padding: 0.625rem 3.125rem;
    background-color: var(--a-accent-color);
    color: var(--main-background-color);
    border-radius: 0.3125rem;
    margin-right: 2.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    color: white;
}

.hero-buttons a:hover {
    background-color: var(--accent-hover-color);
}

.hero-buttons a:last-child {
    margin-right: 0;
}


footer {
    background-color: var(--footer-background-color);
    text-align: center;
    padding: 2rem;
    width: 100%;
}

footer p {
    background-color: var(--footer-background-color);
}

.aboutContainer {
    background-color: var(--main-background-color);
    height: 80vh;
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
}

.aboutTitle {
    margin-left: 10%;
    background-color: var(--main-background-color);
    font-size: 3.2rem;
    text-align: left;
    padding-top: 25px;
}

.aboutText {
    background-color: var(--main-background-color);
    width: 80%;
    margin: auto;
    text-indent: 50px;
    margin-top: 50px;
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.8rem;
}

.aboutSplitter {
    height: 10px;
}

.resources-intro {
    padding: 2rem;
    text-align: center;
}

.resources-intro h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.resources-intro p {
    margin-bottom: 2rem;
}

.resources-intro a {
    padding: 0.625rem 3.125rem;
    background-color: var(--a-accent-color);
    color: var(--main-background-color);
    border-radius: 0.3125rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    color: white;
}
